<div class="footer_top" id="footer_top">
  <div class="footer__lblock"></div>
  <div class="container footer__container">
    <div class="footer_top__wrapper footer">
      <div class="footer__block footer__block-black">
        <a href="#" class="footer__logo"></a>
        <div class="footer__client">Для корпоративных клиентов </div>
        <div class="footer__tel"><a href="tel:375296620272" target="_blank">+ 375 (29) 662 02 72</a></div> 
        <div class="footer__email"><a href="mailto:service@7890.by" target="_blank">service@7890.by</a> - служба поддержки</div>
        <div class="footer__email"><a href="mailto:info@7890.by" target="_blank">info@7890.by</a> - служба поддержки</div>
      </div>
      <div class="footer__block footer__block-right">
        <div class="footer__icons">
          <a href="http://vk.com" target="_blank"><img src="./src/img/vkicon.png" width="64" height="64" alt="vkicon"></a>
          <a href="http://instagram.com" target="_blank"><img src="./src/img/insicon.png" width="64" height="64" alt="insicon"></a>
        </div>
        <div class="footer__content">
            Время работы администрации<br>
            Пн-Пт с 11 до 18<br>
            Суббота, воскресенье - выходной<br>
        </div>
        <div class="footer__disc">
          <a href="#" target="_blank">Пользовательское соглашение</a><br>
          <a href="#" target="_blank">Договор публичной оферты</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy"><a href="http://www.biz-up.by" target="_blank">©2019, BizUp studio</a></div>
</div>