<div class="header_bg">
  <section class="topline">
    <div class="topline__bg">
        <div class="container">
            <div class="topline__row">
                <div class="topline__burger">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="topline__logo">
                  <img src="./src/img/logo78901.png" alt="">
                </div>
                <div class="topline__menu">
                  <a href="#workim" class="topline__menu-active">Работа с нами</a>
                  <a href="#prichina">Наши услуги</a>
                  <a href="#tarif">Тарифы</a>
                  <a href="#footer_top">Мобильное  приложение </a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="form">
    <div class="container">
      <div class="form__wrapper">
        <div class="form__text">
          <span class="form__text-title">-&nbsp;30&nbsp;%</span><span class="form__text-disc">на первую поездку</span><br>
          <a href="#" class="form__text-link">Применить промокод</a>
        </div>
        <div class="form__header">
            <a href="#" class="form__header-link">Заказать такси </a>
          </div>
          <div class="form__details">
            <form action="">
                <fieldset>
                    <input type="text" class="form__input" placeholder="Откуда">
                    <input type="text" class="form__input" placeholder="Куда">
                    <input type="text" class="form__input" placeholder="Телефон">
                </fieldset>
                <div class="form__rblock">
                    <div>
                        <input type="text" class="form__input" placeholder="Комментарий">
                    </div>
                    <div class="oplata">
                      <div class="oplata__many">
                        <label><input type="radio" name="many" value="card" disabled>Оплата картой </label>
                        <label><input type="radio" name="many" value="nal" checked>Оплата наличными </label>
                      </div>
                      <div class="oplata__car">
                          <label><input type="radio" name="car" value="light" checked>Легкий</label>
                          <label><input type="radio" name="car" value="comfort">Комфорт</label>
                          <label><input type="radio" name="car" value="miniven">Минивен</label>
                      </div>
                    </div>
                  </div>
          
                  <div class="form__links">
                    <div class="form__links__link">
                        <a href="#">Добавить адрес</a>
                        <a href="#">Ввести код на скидку</a>
                        <a href="#">Карта</a>
                    </div>
                    <div class="form__links__summa">
                      <div>от <span>3,3</span> руб</div>
                      <button type="submit" class="form__btn">Продолжить</button>
                    </div>
                  </div>
            </form>
          </div>

          <div class="form__search">
            <div class="form__search">Идет поиск водтеля</div>
            <button>Отмена</button>
          </div>
          <div class="form__succes">
            Ваш заказ принят. ВОт инфо  ..... Спасибо
            <button>На главную</button>
          </div>
      </div>
    </div>
  </div>
</div>

