<div class="header_bg">
  <section class="topline">
    <div class="topline__bg">
        <div class="container">
            <div class="topline__row">
                <div class="topline__burger">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="topline__logo">
                  <img src="./src/img/logo78901.png" alt="">
                </div>
                <div class="topline__menu">
                  <a href="#workim" class="topline__menu-active">Работа с нами</a>
                  <a href="#prichina">Наши услуги</a>
                  <a href="#tarif">Тарифы</a>
                  <a href="#footer_top">Мобильное  приложение </a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="form">
    <div class="container">
      <div class="form__wrapper">
        <div class="form__text">
          <span class="form__text-title">-&nbsp;30&nbsp;%</span><span class="form__text-disc">на первую поездку</span><br>
          <a href="#" class="form__text-link">Применить промокод</a>
        </div>
        <div class="form__header">
            <a href="#" class="form__header-link form__header-link-active">Заказать такси </a>
            <a href="#" class="form__header-link">Предзаказ такси</a>
          </div>
          <div class="form__details">
            <input type="text" class="form__input" placeholder="Откуда">
            <input type="text" class="form__input" placeholder="Куда">
            <input type="text" class="form__input" placeholder="Телефон">
            <button type="submit" class="form__btn">Продолжить</button>
          </div>
          <div class="form__links">
            <a href="#">Добавить адрес</a>
            <a href="#">Ввести код на скидку</a>
            <a href="#">Карта</a>
          </div>
      </div>
    </div>
  </div>
</div>

