<div class="mobil_prilage">
  <div class="container">
    <div class="mobil_prilage__bg"></div>
    <div class="mobil_prilage__wrapper">

      <div class="mobil_prilage-content">
          <div class="mobil_prilage__wrap">
              <div class="mobil_prilage__title">Мобильное приложение</div>
              <div class="mobil_prilage__disc">Попробуйте наше мобильное приложение.<br> Вам понравится.</div>
          </div>
          <ul class="mobil_prilage__ul">
            <li class="mobil_prilage__li">Надежно</li>
            <li class="mobil_prilage__li">Удобно</li>
            <li class="mobil_prilage__li">Практично</li>
            <li class="mobil_prilage__li">Быстро</li>
            <li class="mobil_prilage__li">Качественно</li>
          </ul>
          <a href="https://play.google.com" target="_blank" class="mobil_prilage__link"></a>
          <a href="https://www.apple.com" target="_blank" class="mobil_prilage__link mobil_prilage__link-apple"></a>
      </div>
      <div class="mobil_prilage-img">

      </div>

    </div>
  </div>
</div>