<div class="prichina" id="prichina">
  <div class="container">
    <div class="prichina__wrapper">
      <div class="prichina__wrap">
          <div class="prichina__title">А еще у нас есть</div>
      </div>

    </div>
  </div>
  <div class="prichina__blocks">
   
        <div class="prichina__item prichina__item-yellow">
          <div class="prichina__front">
              <div class="prichina__item-icon"></div>
              <div class="prichina__item-text">Оплата картой</div>
          </div>
          <div class="prichina__back">
              <div class="prichina__item-text">Привяжите карту к приложению, рассчитайтесь ей в конце поездки</div>
          </div>
        </div>
        <div class="prichina__item"></div>
        <div class="prichina__item prichina__item-yellow">
            <div class="prichina__front">
              <div class="prichina__item-text">Детское кресло</div>
            </div>
            <div class="prichina__back">
                <div class="prichina__item-text">С заботой о самых самых маленьких пассажирах</div>
            </div>
        </div>
        <div class="prichina__item"></div>
        <div class="prichina__item prichina__item-yellow">
            <div class="prichina__front">
              <div class="prichina__item-icon prichina__item-icon-help"></div>
              <div class="prichina__item-text">Помощь на дороге</div>
            </div>
            <div class="prichina__back">
                <div class="prichina__item-text">"Быстрая помощь" в любой ситуации</div>
            </div>
        </div>
        <div class="prichina__item"></div>
        <div class="prichina__item prichina__item-yellow">
            <div class="prichina__front">
               <div class="prichina__item-text">Минивен</div>
            </div>
            <div class="prichina__back">
                <div class="prichina__item-text">7-ми, 8-ми, или 9-ти местный минивен всегда в Вашем распоряжении</div>
            </div>
        </div>
        <div class="prichina__item"></div>
        <div class="prichina__item prichina__item-yellow">
            <div class="prichina__front">
              <div class="prichina__item-icon prichina__item-icon-buisnes"></div>
              <div class="prichina__item-text">Бизнес класс</div>
            </div>
            <div class="prichina__back">
                <div class="prichina__item-text">Для самых важных событий в Вашей жизни</div>
            </div>
        </div>
        <div class="prichina__item"></div>
      
  </div>
</div>