<div class="tarif" id="tarif">
  <div class="container">
    <div class="tarif__wrapper">
        <div class="tarif__wrap">
            <div class="tarif__title">Тарифы</div>
        </div>

        <div class="tarif__blocks">
          <div class="wrap">
              <div class="tarif__item">
                <div class="tarif__item__title">ЛЕГКИЙ</div>
                <div class="tarif__item__price price">
                  <div class="price__item">
                    <div class="price__item__title price__item__title-active">руб.<span>3,3</span>/км</div>
                    <div class="price__item__disc">- по городу</div>
                    <div class="hidden">
                        <div class="price__item__disc">- минимальная<br>стоимость<br>(включено 2 км<br>и 5 минут) - </div>
                        <div class="price__item__disc">- далее по<br>городу -<br>0,40 р за 1 км,<br>0,12 р за 1 мин. </div>
                    </div>
                  </div>
                  <div class="price__item">
                      <div class="price__item__title price__item__title-gray">руб.<span>&#160;5&#160;</span>/км</div>
                      <div class="price__item__disc">- за городом</div>
                      <div class="hidden">
                          <div class="price__item__disc">- минимальная<br>стоимость<br>(включено 2 км<br>и 5 минут) -</div>
                          <div class="price__item__disc">- далее по<br>городу -<br>0,55 р за 1 км,<br>0,20 р за 1 мин. </div>
                      </div>
                  </div>
              </div>
              <div class="tarif__item__btn">
                  <button class="tarif__item__btn__button tarif__item__btn__button-active">Заказать</button>
              </div>
            </div>
              <div class="tarif__item">
                <div class="tarif__item__title">КОМФОРТ</div>
                <div class="tarif__item__price price">
                  <div class="price__item">
                    <div class="price__item__title price__item__title-active">руб.<span>&#160;5&#160;</span>/км</div>
                    <div class="price__item__disc">- по городу</div>
                    <div class="hidden">
                        <div class="price__item__disc">- минимальная<br>стоимость<br>(включено 2 км<br>и 5 минут) - </div>
                        <div class="price__item__disc">- далее по<br>городу -<br>0,80 р за 1 км,<br>0,12 р за 1 мин. </div>
                    </div>
                  </div>
                  <div class="price__item">
                      <div class="price__item__title price__item__title-gray">руб.<span>&#160;9&#160;</span>/км</div>
                      <div class="price__item__disc">- за городом</div>
                      <div class="hidden">
                          <div class="price__item__disc">- минимальная<br>стоимость<br>(включено 2 км<br>и 5 минут) </div>
                          <div class="price__item__disc">- далее по<br>городу -<br>0,90 р за 1 км,<br>0,20 р за 1 мин. </div>
                      </div>
                  </div>
              </div>
              <div class="tarif__item__btn">
                  <button class="tarif__item__btn__button tarif__item__btn__button-active">Заказать</button>
              </div>
            </div>
          </div>
          <div class="wrap">
              <div class="tarif__item">
                  <div class="tarif__item__title">МИНИВЕН</div>
                  <div class="tarif__item__price price">
                    <div class="price__item">
                      <div class="price__item__title price__item__title-active">руб.<span>&#160;9&#160;</span>/км</div>
                      <div class="price__item__disc">- по городу</div>
                      <div class="hidden">
                          <div class="price__item__disc">- минимальная<br>стоимость<br>(включено 2 км<br>и 5 минут) </div>
                          <div class="price__item__disc">- далее по<br>городу -<br>0,55р за 1 км,<br>0,20 р за 1 мин. </div>
                      </div>
                    </div>
                    <div class="price__item">
                        <div class="price__item__title price__item__title-gray">руб.<span>&#160;9&#160;</span>/км</div>
                        <div class="price__item__disc">- за городом</div>
                        <div class="hidden">
                            <div class="price__item__disc">- минимальная<br>стоимость<br>(включено 2 км<br>и 5 минут) </div>
                            <div class="price__item__disc">- далее по<br>городу -<br>1,10 р за 1 км,<br>0,20 р за 1 мин. </div>
                        </div>
                    </div>
                </div>
                <div class="tarif__item__btn">
                    <button class="tarif__item__btn__button tarif__item__btn__button-active">Заказать</button>
                </div>
              </div>
                <!-- <div class="tarif__item">
                  <div class="tarif__item__title">АЭРОПОРТ</div>
                  <div class="tarif__item__price price">
                      <div class="price__item">
                        <div class="price__item__title">руб.<span>3,3</span>/км</div>
                        <div class="price__item__disc">- по городу</div>
                      </div>
                      <div class="price__item">
                          <div class="price__item__title price__item__title-gray">руб.<span>9</span>/км</div>
                          <div class="price__item__disc">- за городом</div>
                      </div>
                  </div>
                  <div class="tarif__item__btn">
                      <button class="tarif__item__btn__button">Заказать</button>
                  </div>
            </div> -->
          </div>
          
        </div>

    </div>
  </div>
</div>