<section class="whatmi">
  <div class="container">
    <div class="whatmi__wrap">
        <div class="whatmi__title">Почему именно мы</div>
        <div class="whatmi__bg"></div>
    </div>
    <div class="whatmi__blocks">
      <div class="whatmi__block">
        <div class="whatmi__block-icon">
          <div class="whatmi__block-icon-bg"></div>
          <div class="whatmi__block-icon-img1"></div>
        </div>
        <div class="whatmi__block-title">Легкость</div>
        <div class="whatmi__block-disc">Вызов через мобильное приложение, а также короткий номер 24/7</div>
      </div>
      <div class="whatmi__block whatmi__block-yellow">
        <div class="whatmi__block-icon">
          <div class="whatmi__block-icon-bg"></div>
          <div class="whatmi__block-icon-img2"></div>
        </div>
        <div class="whatmi__block-title whatmi__block-title-white">Честная цена</div>
        <div class="whatmi__block-disc whatmi__block-disc-white">Отчёт о стоимости в конце каждой поездки</div>
      </div>
      <div class="whatmi__block">
        <div class="whatmi__block-icon">
          <div class="whatmi__block-icon-bg"></div>
          <div class="whatmi__block-icon-img3"></div>
        </div>
        <div class="whatmi__block-title">Гарантия качества</div>
        <div class="whatmi__block-disc">Высококвалифицированные водители со знанием города</div>
      </div>
    </div>

  </div>
</section>