<div class="workim" id="workim">
  <div class="workim__backimg"></div>
  <div class="container">
    <div class="workim__wrapper">
      <div class="workim__left">
        <div class="workim__wrap">
            <div class="workim__title">Работайте с&nbsp;нами</div>
            <div class="workim__disc">Работа с нами — это свобода<br>управлять своим временем<br>и доходом</div>
        </div>
        
        <div class="form__details form__workim">
          <form action="">
              <input type="text" class="workim__input" placeholder="Ваше имя" required>
              <input type="text" class="workim__input" placeholder="Телефон" required>
              <button type="submit" class="workim__btn">Отправить заявку</button>
          </form>
        </div>
      </div>
      <div class="workim__right">
        <div class="workim__right-img"></div>
      </div>
      <div class="workim__sky"></div>


    </div>
    
  </div>
</div>