.workim {

    padding: 250px 0;

    @media(max-width: 768px) {
        padding: 0 0 50px;

    }
      
    &__wrap {
        position: relative;
        margin-bottom: 50px;
    
        &:before{
        content: "";
        width: 75px;
        height: 3px;
        background: #FFAA00;
        display: block;
        /* margin: 0 auto; */
        top: -8px;
        position: relative;
        z-index: 10;

            @media(max-width: 768px){
                margin: 0 auto;

            }
        }
    }
    
    &__title {
            font-family: Arsenal;
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            text-align: left;
            color: #000000;
            position: relative;
            z-index: 10;

            @media(max-width:768px) {
                text-align: center;
            }
            
    
            @media(max-width: 480px) {
                line-height: 50px;
                padding-top: 20px;
                margin-bottom: 20px;
            }
    
            &:before {
            content: "";
            width: 150px;
            height: 3px;
            background: #FFAA00;
            display: block;
            /* margin: 0 auto; */
            @media(max-width: 768px){
                margin: 0 auto;

            }

            @media(max-width: 480px){
                transform: translateY(-22px);
            }
            
            }
    
        }


    &__wrapper {

        display: flex;
        position: relative;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        padding: 100px 0px;

        @media(max-width: 768px) {
            padding-top: 30px;
        }
    }

    &__backimg {
        background-image: url('../src/img/20980-min.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 306px;
        background-size: cover;
        display: none;

        @media(max-width: 768px){
            display: block;
        }
        
    }

    /* &__sky {
        background: url('../img/sky-blue.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 520px;
        height: 225px;
        position: absolute;
        bottom: -90px;
        left: -200px;
        z-index: 5;
    } */
    
    &__disc{
        font-size: 26px;
        margin-bottom: 20px;
        text-align: left;
        line-height: 25px;

        @media(max-width:768px) {
            text-align: center;
        }

        @media(max-width: 480px) {
            font-size: 16px;
        }
    }

    &__details {
        background: #F1F1F1;
        padding-top: 40px;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
    }

    &__input {
        width: 330px;
        font-size: 18px;
        line-height: 19px;
        color: #686868;
        border: none;
        background: transparent;
        border-bottom: 1px solid var(--black);
        padding-bottom: 15px;
        outline: none;
        margin-bottom: 20px;

        @media(max-width: 480px) {
            width: 100%;
        }
        

        &::placeholder {
            font-size: 16px;
            line-height: 19px;
            color: #686868;
            padding-bottom: 10px;
            text-align: center;
        }
    }

    &__btn {
        width: 330px;
        border: none;
        color: black;
        padding: 25px 10px;
        cursor: pointer;
        transition: all .3s;
        background: #FFAA00;
        border-radius: 50px;
        font-size: 25px;
        font-family: Arsenal;
        margin: 35px auto 0;

        @media(max-width: 480px) {
            width: 170px;
            font-size: 14px;
            padding: 20px 10px;
            margin: 20px auto 0;
        }
    }

    &__left {
        margin-right: 40px;
        width: 50%;
        z-index: 6;
        padding-left: 120px;

        @media(max-width: 1024px) {
            padding-left: 50px;
        }

        @media(max-width: 768px) {
            margin-right: 0px;
            width: 100%;
            padding-left: 0px;
        }
    }

    &__right {
        position: relative;

        &-img {
            background-image: url(../src/img/20980-min.png);
            background-repeat: no-repeat;

            width: 949px;
            height: 633px;
            position: absolute;
            top: -225px;
        }

        @media(max-width: 768px) {
            display: none;
        }
    }
}

.form__workim {

    display: flex;
    flex-direction: column;
    padding: 0;
    background: transparent;

    @media(max-width: 768px) {
        align-items: center;
        padding: 0 15px;
    }

    form {

        @media(max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}